@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.jacquarda-bastarda-9-regular {
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    font-style: normal;
}

.oswald-400 {
    font-family: "Oswald", sans-serif;

}


