body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.animation img {
    height: 100px;
}

.boat {
    animation: boat 3s ease-in-out infinite alternate;
}

.wave {
    animation: boat 3s ease-in-out infinite alternate;
}

@keyframes boat {
    from {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(30px, 10px);
    }
    20% {
        transform: translate(50px, -15px);
    }
    30% {
        transform: translate(80px, 10px);
    }
    40% {
        transform: translate(100px, -20px);
    }
    50% {
        transform: translate(130px, 15px);
    }
    60% {
        transform: translate(150px, -15px);
    }
    70% {
        transform: translate(180px, 10px);
    }
    80% {
        transform: translate(200px, -15px);
    }
    90% {
        transform: translate(220px, 20px);
    }
    to {
        transform: translate(250px, 0);
    }
}

@keyframes wave {
    from {
        transform: skew(15deg);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: skew(-15deg);
    }
}

