
body {
    margin-left: 50px;
    margin-right: 50px;
}

body {
    margin: 100px;
    background-color: rgb(230, 232, 235);
}

span {
    font-size: 50px;
    display: block;
    margin-left: 50px;
    margin-bottom: 20px;
}

p {
    display: inline-block;
    font-size: 80px;
    background-color: rgb(205, 208, 212);
    height: 100px;
    width: 130px;
    text-align: center;
    margin: 20px 5px 30px 10px;
}
